video::-webkit-media-controls {
    display: none;
}

.Vnutro {
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font: 0/20 a;
    font-weight: bold;
    position: absolute;
    top: 0;
    bottom: 0;

}
.Vnutro:before {
    vertical-align: middle;
    content:"some random content";
    display: inline-block;
    height: 100%;

}
.vnutro-vkladanie {
    font: 16px/1 Helvetica;
    display: inline-block;
    vertical-align: middle;
    text-align:left;
    width: 100%;
}

#majstro{
    max-width: auto;
}
#pravoD{
    width: 1280px;
}

#mv{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    height: 720px;
}
